%% -*- mode: erlang -*-

{eunit_opts, [verbose, {skip_deps, true}]}.
{eunit_exclude_deps, true}.
{clean_files, ["test/*.beam", ".eunit/*"]}.
{cover_enabled, true}.
{eunit_opts, [verbose]}.
{minimum_otp_vsn, "22.0"}.

{erl_opts, [
    fail_on_warning,
    warnings_as_errors
]}.


{deps, [
        {jsx, {git, "https://github.com/cleverfox/jsx.git", "develop"}},
        {cowboy, "2.8.0"},
        {tinymq,  {git, "https://github.com/ChicagoBoss/tinymq", "0e47ab2ffb90d41885258e8940c3c8de9ba40637"}},
        {cowdb, {git, "https://github.com/refuge/cowdb.git", "40d72119a59407c7dddc140443b518a90338e347"}}
]}.

{sub_dirs, ["apps/pushdb"]}.

%% XRef
{xref_warnings, true}.
{xref_extra_paths, []}.
{xref_checks, [
               undefined_function_calls,
%               export_not_used,
               undefined_functions,
               locals_not_used,
               deprecated_function_calls,
               deprecated_functions
              ]}.

